* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: #efefff;
}

window#waybar {
    background-color: rgba(3, 1, 22, 0.6);
    border-bottom: 1px solid rgba(1, 3, 22, 0.9);;
    padding: 0 12px;
}

#cpu,
#memory,
#clock {
    background-color: rgba(3, 1, 22, 0.6);
    padding: 0 12px;
}

#clock {
    color: #a488f6;
}

#memory {
    color: #796d81;
}

#cpu {
    color: #796d81;
}

