window {
    background-color: #0e0216;
    border: 2px solid #563a60;
    border-radius: 8px;
    font: 14px "JetBrainsMono Nerd Font";
}

#outer-box {
    padding: 8px;
}

#input {
    margin-bottom: 8px;
    padding: 8px 12px;
    background-color: #2e1d38;
    color: #f9ecff;
    border: 1px solid #563a60;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
}

#input:focus {
    border-color: #a488f6;
}

#entry {
    padding: 6px;
    color: #796d81;
}

#entry:selected {
    background-color: #563a60;
    color: #f9ecff;
}

#entry:selected #text {
    color: #f2b7ff;
}

#entry-child {
    padding: 6px;
    color: #796d81;
}

#entry-child:selected {
    background-color: #563a60;
    color: #f9ecff;
}

